* {
    padding: 0px;
    margin: 0px;
    font-family: cursive;
    margin: 5px;
    padding: 5px;
}

h1 {
    background-color: black;
    color: #ffffff;
    text-align: left;
}

h1 span {
    color: #00ffff;
}

h2 {
    background-color: #663399;
    color: #ffffff;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: #9fc5f8;
    text-align: right;
}

h3 a{
    color: #20124d;
    font-weight: bold;
}